<div class="container">
    <div class="spinner-wrapper" *ngIf = "!loading; else spinner">
        <tr class="card" *ngFor = "let post of posts">
            <td>
                <img width = "350" height = "276" [src] = "post.image_url">
            </td>
            <td>{{ post.name }}</td>
            <td>
                <a [routerLink] = "['/dashboard', post.id]" class = "btn" (click) = "openGraph(post.id, post.name)">Open Graph</a>
            </td>
    </tr>
    </div>
</div>

<ng-template #spinner>
    <mat-spinner [diameter]="50"></mat-spinner>
</ng-template>