.sticky-header-container {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(221, 221, 221);
    z-index: 100;
    width: 100%;
  }
  
  
  .sticky-header {
    max-width: 70vw;
    display: flex;
    margin: 30px auto 0;
  }
  
  .logo-wrapper {
    width: 15%;
    display: flex;
    align-items: center;
    position: relative;
    top: -15px;
    justify-content: center;
  }
  
  .logo {
    cursor: pointer;
    margin-right: 20px;
  }

  .logout {
    height: 50px;
  }
  
  .info-container {
    position: relative;
    left: 800px;
    height: 50px;
    top: -10px;
  }

  .user-type {
    padding-right: 15px;
  }