<div class="sticky-header-container">
    <div class="sticky-header">
        <div class="logo-wrapper">
            <img class="logo" width="87" height="87"
                 alt="Logo"
                 src="assets\images\logo.png">
            <b>Assesment Dashboard</b>
        </div>
        <div class="info-container">
            <span class = "user-type">{{ userType }}</span>
            <button *ngIf = "isAuthorized" class = "btn logout" (click) = "logout()">Logout</button>
        </div>
    </div>
  </div>
