<div class="container" (click) = "test()">
    <table *ngIf = "!loading; else spinner" mat-table [dataSource]="list" class="mat-elevation-z8">

        <ng-container matColumnDef="first_name">
        <th mat-header-cell *matHeaderCellDef> First name </th>
        <td mat-cell *matCellDef="let element"> {{element.first_name}} </td>
        </ng-container>

        <ng-container matColumnDef="last_name">
        <th mat-header-cell *matHeaderCellDef> Last name </th>
        <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
        </ng-container>
    
        <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
    
        <ng-container matColumnDef="groups">
        <th mat-header-cell *matHeaderCellDef> Groups </th>
        <td mat-cell *matCellDef="let element"> {{element.groups}} </td>
        </ng-container>

        <ng-container matColumnDef="csv">
        <th mat-header-cell *matHeaderCellDef> Download CSV </th>
        <td mat-cell *matCellDef="let element"> 
            <img 
                (click) = "downloadCsv(element)" 
                width = "20px" 
                height = "20px" 
                src="assets\images\csv.png"> 
        </td>
        </ng-container>
        
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>


<ng-template #spinner>
    <mat-spinner [diameter]="50"></mat-spinner>
</ng-template>
