@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

.container {
  max-width: 600px;
  margin: 200px auto;
  padding: 1rem;
}

a {
  text-decoration: none;
}

a:hover {
  color: #666;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

small {
  color: red;
}

.mat-progress-spinner {
  margin: 400px auto;
  circle {
    stroke: black;
  }
}

.btn {
  display: inline-block;
  background: #333333;
  color: #fff;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
  transition: opacity 0.2s ease-in;
  border-radius: 5px;
  outline: none;
  
  &:disabled {
    background: #ccc;
    color: #000;
    cursor: not-allowed;
  }
}

.btn:hover {
  opacity: 0.8;
}

.form-control {
  display: block;
  margin-top: 1rem;
  margin-bottom: .5rem;
  border-radius: 5px

  label {
    display: block;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: .5rem;
  }

  input {
    border-radius: 5px;
    margin-bottom: 0;
  }

  .validation {
    color: red;
  }
}

.card {
  padding: 1rem;
  border: #ccc 1px dotted;
  margin: 0.7rem 0;
  border-radius: 5px;
}

input,
select,
textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
}

hr {
  margin: .5rem 0;
}

.green-snackbar {
  background-color: rgb(57, 176, 125);
}

.red-snackbar {
  background-color: rgb(176, 57, 57);
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
